<template>
  <div class="testi">
    <h1>My first component</h1>
    <p v-on:click="fn('jepa')">This is it</p>
  </div>
</template>

<script>
export default {
  name: 'Testi',
  methods: {
    fn: () => {
      console.log('cool', arguments)
    }
  }
}
</script>
<style scoped>
  p {
    cursor: pointer;
  }
</style>
